


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #FDFEFE;
}

.login-container {
    background-color: #fff;
    padding: 65px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.login-box {
    margin-bottom: 20px;
    text-align: center;
    font-size: 16px; 
    margin: 10px; 
    padding: 5px;
}

label {
    display: block;
    margin-bottom: 15px;
}

input {
    
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #D31024;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
        
    color: white; /* Color de texto */
    font-size: 16px; /* Tamaño del texto del botón */
    height: 32px; /* Altura del botón */
    width: 215px; /* Ancho del botón */
    border-radius: 0 0 0 20px; /* Curvatura izquierda baja */
    border: none; /* Sin borde */
    cursor: pointer; /* Cursor en forma de mano al pasar por encima */
    padding: 0 10px; /* Padding horizontal para centrar el texto */
}

button:hover {
    background-color: #0056b3;
}

h2 {
    margin-bottom: 20px;
    text-align: center;
}
