

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #FDFEFE;
}

.login-container {
    background-color: #fff;
    padding: 65px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    
}

.login-box {
    margin-bottom: 20px;
    text-align: center;
    font-size: 16px; 
    margin: 10px; 
    padding: 5px;

}

label {
    display: block;
    margin-bottom: 15px;
}

input {
    
   
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px; /* Tamaño del texto de los campos */
    margin: 10px; /* Espacio alrededor de cada campo para evitar que se toquen */
    padding: 5px; /* Espaciado interior para separar el texto de los bordes */
    
    width: 2010x; /* Ancho del botón */
    
}


.boton {

    align-items: center;

    justify-content: center;
    display: flex;
    justify-content: flex-end; /* Alinea los elementos hijos al final del contenedor */

}

button {
 
    padding: 10px;
    background-color: #D31024;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white; /* Color de texto */
    font-size: 16px; /* Tamaño del texto del botón */
    margin-left: 20px;
    border-radius: 0 0 0 20px; /* Curvatura izquierda baja */
    height: 32px;
    width: 215px;
   
}

/* height: 32px; Altura del botón
width: 215px; Ancho del botón */

button:hover {
    background-color: #0056b3;
}

h2 {
    margin-bottom: 20px;
    text-align: center;
}
